# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

#pods
ios/pods

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle
native-base-theme/components/Badge.js
native-base-theme/components/Body.js
native-base-theme/components/Button.js
native-base-theme/components/Card.js
native-base-theme/components/CardItem.js
native-base-theme/components/CheckBox.js
native-base-theme/components/Container.js
native-base-theme/components/Content.js
native-base-theme/components/Fab.js
native-base-theme/components/Footer.js
native-base-theme/components/FooterTab.js
native-base-theme/components/Form.js
native-base-theme/components/H1.js
native-base-theme/components/H2.js
native-base-theme/components/H3.js
native-base-theme/components/Header.js
native-base-theme/components/Icon.js
native-base-theme/components/index.js
native-base-theme/components/Input.js
native-base-theme/components/InputGroup.js
native-base-theme/components/Item.js
native-base-theme/components/Label.js
native-base-theme/components/Left.js
native-base-theme/components/ListItem.js
native-base-theme/components/Picker.android.js
native-base-theme/components/Picker.ios.js
native-base-theme/components/Picker.js
native-base-theme/components/Radio.js
native-base-theme/components/Right.js
native-base-theme/components/Segment.js
native-base-theme/components/Separator.js
native-base-theme/components/Spinner.js
native-base-theme/components/Subtitle.js
native-base-theme/components/SwipeRow.js
native-base-theme/components/Switch.js
native-base-theme/components/Tab.js
native-base-theme/components/TabBar.js
native-base-theme/components/TabContainer.js
native-base-theme/components/TabHeading.js
native-base-theme/components/Text.js
native-base-theme/components/Textarea.js
native-base-theme/components/Thumbnail.js
native-base-theme/components/Title.js
native-base-theme/components/Toast.js
native-base-theme/components/View.js
native-base-theme/variables/commonColor.js
native-base-theme/variables/material.js
native-base-theme/variables/platform.js
